body {
    background-color: rgb(105, 3, 3);
    color: rgb(8, 0, 0);
    font-family: "Sancreek", serif;

    margin: 0px;
}

header{
    font-size: 50px;
text-align: center;
}

h1{
    font-size: 30px
}

p{
    font-size: 20px;
}