body {
    background-color: rgb(187, 187, 187);
    color: red;
    font-family: "Sancreek", serif;

    margin: 0px;
}

header{
    font-size: 50px;
text-align: center;
}

h1{
    font-size: 30px
}

p{
    font-size: 20px;
}